
<div class="bigger-wrapper-footer">
  <div id="footer" class="footer-bottom">
        <div class="wrapper-footer text-center">
          <ul class="list-inline">
            <li><a href=""><i class="fa fa-pinterest"></i></a></li>
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-share"></i></a></li>
          </ul>
          <p>This is Louis' super Airbnb challenge @ LeWagon and I love you all</p>
        </div>
    </div>
  </div>
